<!DOCTYPE html>
<html lang="en-US">
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/book.css' />
  </head>
  <body>
<header>
    <div class='back_img'><img src='/images/h5.jpg'/></div>
    <nav>
    <ul class="nav-ul">
      <li class="nav-select">
        <a href="/">首页</a>
      </li>
      <li>
        <a href="/category/frontend">Web前端</a>
      </li>
      <li>
        <a href="/category/end">UI</a>
      </li>
      <li>
        <a href="/category/trivial">项目作品</a>
      </li>
      <li>
        <a href="/category/life">Life</a>
      </li>
      <li>
        <a href="#">About Me</a>
      </li>
    </ul>
  </nav>
</header>
<section>
    <div class="case-header">
        <h2><%=name%>
        </h2>
        <div class='case-list'>
            <div class='case-item'>前端</div>
            <div class='case-item'>后端</div>
            <div class='case-item'>哈端</div>
        </div>
    </div>
    <hr>
    <div class="case">
        <img src="<%=img%>">
        <a href="./case-1.html">
            <p>
                小桔帮帮接入北京大学深圳医院，通过工单系统，帮助实现清洁、安保、维修任务；通过接入电商增值服务系统。
            </p>
            <hr>
            <span>北京大学深圳医院</span>
            <span>查看案例>></span>
        </a>
    </div>
    <hr>
    <div class="case">
        <img src="<%=img%>">
        <a href="./case-2.html">
                <p>
                    宝安妇幼保健院是深圳市宝安区直属的医疗保健机构,。小桔帮帮接入宝安妇幼保健院，提供
                </p>
            <hr>
            <span>宝安妇幼保健院</span>
            <span>查看案例>></span>
        </a>
    </div>
</section>
</body>
</html>
