{% extends 'views/base.html' %}
{% block body %}
{% include "views/components/header.html" %}
<section id="hero" class="hero is-primary is-bold">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                Koa2 Blog平台
            </h1>
            <h2 class="subtitle">
                koa2-blog
            </h2>
        </div>
    </div>
</section>
<div class="container margin-top">
    <div class="columns">
        <div class="column is-8 is-offset-2">
            {% for post in posts %}
            <div class="card">
                <div class="card-content">
                    <div class="content">
                        <a href="/posts/{{post._id}}">{{post.title}}</a>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% include "views/components/pagination.html" %}
        </div>
    </div>
</div>

<style>
    .card{
        border-radius: 4px;
        border: 1px solid #ebeef5;
        background-color: #fff;
        overflow: hidden;
        color: #303133;
        transition: .3s;
        margin: 10px 0;
        box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);
        padding: 20px;
    }
    #hero{
        background-image: linear-gradient(141deg,red,#00d1b2 71%,#00e7eb 100%);
    }
</style>
{% endblock %}
