<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>后台管理系统</title>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
    <link rel='stylesheet' href='/stylesheets/edit.css'/>
    <link href="stylesheets/jquery-accordion-menu.css" rel="stylesheet" type="text/css" />
    <link href="stylesheets/font-awesome.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" charset="utf-8" src="/ueditor/ueditor.config.js"></script>
    <script type="text/javascript" charset="utf-8" src="/ueditor/ueditor.all.min.js"> </script>
    <script type="text/javascript" charset="utf-8" src="/ueditor/lang/zh-cn/zh-cn.js"> </script>
</head>
<body>
<div class='content'>
<div class='sild-content'>
      <div id="jquery-accordion-menu" class="jquery-accordion-menu red">
		<ul id="demo-list">
		   <li class=""><a href="#"><i class="fa fa-home"></i>web前端<span class="submenu-indicator">+</span></a>
                <ul class="submenu" style="display: none;">
					<li><a href="#">Css</a></li>
					<li><a href="#">Node</a></li>
					<li><a href="#">UI</a></li>
					<li><a href="#">Vuejs</a></li>
				</ul>
           </li>
           <li class=""><a href="#"><i class="fa fa-home"></i>后台<span class="submenu-indicator">+</span></a>
                <ul class="submenu" style="display: none;">
					<li><a href="#">node</a></li>
					<li><a href="#">php</a></li>
					<li><a href="#">计算机网络</a></li>
					<li><a href="#">服务器</a></li>
				</ul>
           </li>
			<li><a href="#"><i class="fa fa-glass"></i>个人作品</a></li>
            <li><a href="#"><i class="fa fa-bomb"></i>随笔</a></li>
			<li><a href="#"><i class="fa fa-file-image-o"></i>留言板</a><span class="jquery-accordion-menu-label">
				12 </span></li>
			<li><a href="#"><i class="fa fa-suitcase"></i>photo</a></li>
			<li><a href="#"><i class="fa fa-user"></i>About </a></li>
			<li><a href="#"><i class="fa fa-envelope"></i>Contact </a></li>
		   
		</ul>
		<div class="jquery-accordion-menu-footer">
			Footer
		</div>
	</div>
    </section>
</div>
<div class='body-content'>
    <div class='body-top'>
        <div id='add-title'>新增</div>
    </div>
    <div class='article-title'>
        <input type='text' placeholder='文章标题'/>
    </div>
    <script id="editor" type="text/plain" style="width:1024px;height:500px;"></script>
    <div class='article-btn'>
        <div class='article-save-btn'>保存</div>
        <div class='article-cancel-btn'>取消</div>
    </div>
</div>
</div>
<script src="javascripts/jquery-1.11.2.min.js" type="text/javascript"></script>
<script src="javascripts/jquery-accordion-menu.js" type="text/javascript"></script>
<script type="text/javascript">
    $("#edui1,#editor").css({width:"100%"});
    //初始化编辑器宽度；
    var title = 'article';
    var item = 'web前端';
    var ue;
    //实例化编辑器
    ue = UE.getEditor('editor');
    var showEdit;
    //显示编辑器；
    showEdit = function(){
        $("#editor,.article-title,.article-btn").toggle();
        return;
    }
    var getHtml;
    //得到编辑器生成的html；
    getHtml = function(){
        var title = $(".article-title input").val();
        var html = UE.getEditor('editor').getContent();
        return {title:title,html:html};
    }
    $("#add-title").click(function(){
        showEdit();
    })
    $(".article-cancel-btn").click(function(){
        showEdit();
    })
    $(".article-save-btn").click(function(){
        var content = {
            "title":title,
            "title-item":item,
            "html-top":getHtml().title,
            "html":getHtml().html
        }
        if(content.html-top==''){
            alert("请输入文章标题");
            return;
        }else{
            $.post("http://127.0.0.1:3000/edit",content,function(res){
                if(res.error==0){
                    showEdit();
                }else{
                    alert(res.ms);
                }
            });
        }
    })
    $(".title-item").click(function(){
        item = $(this).text();
        $(".title-item").each(function(){
            $(this).hasClass("item-select");
            $(this).removeClass("item-select");
        })
        $(this).addClass("item-select");
    })
    
$.expr[":"].Contains = function(a, i, m) {
	return (a.textContent || a.innerText || "").toUpperCase().indexOf(m[3].toUpperCase()) >= 0;
};
function filterList(header, list) {
	//@header 头部元素
	//@list 无需列表
	//创建一个搜素表单
	var form = $("<form>").attr({
		"class":"filterform",
		action:"#"
	}), input = $("<input>").attr({
		"class":"filterinput",
		type:"text"
	});
	$(form).append(input).appendTo(header);
	$(input).change(function() {
		var filter = $(this).val();
		if (filter) {
			$matches = $(list).find("a:Contains(" + filter + ")").parent();
			$("li", list).not($matches).slideUp();
			$matches.slideDown();
		} else {
			$(list).find("li").slideDown();
		}
		return false;
	}).keyup(function() {
		$(this).change();
	});
}
$(function() {
	filterList($("#form"), $("#demo-list"));
});
jQuery("#jquery-accordion-menu").jqueryAccordionMenu();
</script>
</body>
</html>