<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>后台管理系统</title>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel='stylesheet' href='/stylesheets/edit.css'/>
    <script type="text/javascript" charset="utf-8" src="/ueditor/ueditor.config.js"></script>
    <script type="text/javascript" charset="utf-8" src="/ueditor/ueditor.all.min.js"> </script>
    <script type="text/javascript" charset="utf-8" src="/ueditor/lang/zh-cn/zh-cn.js"> </script>
</head>
<body>
<div>
    <header>
      <section class='black'></section>
      <nav>
        <div>
          <div class='ico'></div>
          <ul class="nav-ul">
            <li class="nav-select">
              <a class='a-select' href="javascript:void(0)" id='article'>文章管理</a>
            </li>
            <li>
              <a href="javascript:void(0)" id='message-board'>留言版管理</a>
            </li>
            <li>
              <a href="javascript:void(0)" id='show-my'>自我介绍管理</a>
            </li>
            <li>
              <a href="javascript:void(0)" id='product'>项目作品管理</a>
            </li>
          </ul>
        </div>
      </nav>
    </header>
    <section>
        <div class='left-title'>
            <div class='title-item item-select'>Web前端</div>
            <div class='title-item'>Node</div>
            <div class='title-item'>UI</div>
            <div class='title-item'>随笔</div>
        </div>
    </section>
    <section>
        <div class='title-content'>
            <div class='content-controller'>
                <div class='controller-item' id='add-title'>新增</div>
                <div class='controller-item' id='delete-title'>删除</div>
            </div>
            <div class='content-item'></div>
        </div>
    </section>
    <div class='article-title'>
        <input type='text' placeholder='文章标题'/>
    </div>
    <div class='article-btn'>
    
    <div class='article-save-btn'>保存</div>
    <div class='article-cancel-btn'>取消</div>
    </div>
    <script id="editor" type="text/plain" style="width:1024px;height:500px;"></script>
</div>
<script src='/javascripts/jquery-2.0.3.min.js'></script>
<script type="text/javascript">
    var title = 'article';
    var item = 'web前端';
    var ue;
    //实例化编辑器
    ue = UE.getEditor('editor');
    var showEdit;
    //显示编辑器；
    showEdit = function(){
        $("#editor,.article-title,.article-btn").toggle();
        return;
    }
    var getHtml;
    //得到编辑器生成的html；
    getHtml = function(){
        var title = $(".article-title input").val();
        var html = UE.getEditor('editor').getContent();
        return {title:title,html:html};
    }
    $("#add-title").click(function(){
        showEdit();
    })
    $(".article-cancel-btn").click(function(){
        showEdit();
    })
    $(".article-save-btn").click(function(){
        var content = {
            "title":title,
            "title-item":item,
            "html-top":getHtml().title,
            "html":getHtml().html
        }
        if(content.html-top==''){
            alert("请输入文章标题");
            return;
        }else{
            $.post("http://127.0.0.1:3000/edit",content,function(res){
                if(res.error==0){
                    showEdit();
                }else{
                    alert(res.ms);
                }
            });
        }
    })
    $(".title-item").click(function(){
        item = $(this).text();
        $(".title-item").each(function(){
            $(this).hasClass("item-select");
            $(this).removeClass("item-select");
        })
        $(this).addClass("item-select");
    })
    
</script>
</body>
</html>