body{
    margin: 0;
    padding: 0;
    background: #fff;   
}
.content{
        width: 200px;
    height: 100%;
    float: left;
}
#editor{
        width: 1024px;
        display: none;
        position: absolute;
        top: 150px;
        left: 0;
        right: 0;
        margin: 0 auto;
}
.article-title{
        width: 900px;
        position: absolute;
        top: 110px;
        left: 0;
        right: 0;
        display: none;
        height: 30px;
        margin: 0 auto;
}
.article-title input{
    width: 100%;
    text-align: center;
    height: 100%;
    display: block;
    font-size: 16px;
}
.article-btn{
   position: absolute;
       width: 1020px;
       left:0;
       right: 0;
       display: none;
       margin: 0 auto;
       top:680px;
       height: 30px;
}
.article-save-btn,.article-cancel-btn{
    color: #fff;
         background: #00A6C6;
    float: left;
    line-height: 30px;
    text-align: center;
    margin-right: 20px;
    padding: 0 50px;
    font-size: 20px;
}