html{
    width: 100%;
  min-height: 100%;
}
body {
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-size: cover;
  background: url("./../images/Background.jpg") no-repeat center;
  width: 100%;
  min-height: 100%;
}

a {
  color: #00B7FF;
}
a{
    text-decoration: none;
    cursor: pointer;
}
header{
      width: 100%;
      line-height: 50px;
      position: relative;
}
header .black{
  content: "";
  background-color: #000;
  background-color: rgba(0, 0, 0, 0);
  position: absolute;
  left: 0px;
  width: 100%;
  height: 100%;
    pointer-events:none;
  right: 0px;
  z-index: 9;
}
nav{
    width: 100%;
     height: 100px;
     margin: 0 auto;
     z-index: 10;
    background-color: rgba(0, 0, 0, 0.3);
}
nav div{
  width: 1000px;
  margin: 0 auto;
}
nav ul{
  list-style: none;
  float: right;
  width: 750px;
  margin: 0;
  padding: 0;
    margin-left: 50px;
}
nav ul li {
    display: inline-block;
    float: left;
}
nav ul li a {
  line-height: 100px;
    transition: all .35s ease-in-out;
  padding: 0px 30px;
    display: inline-block;
  font-size: 16px;
  color: #fff;
  height: 100%;
  vertical-align: top;
}
nav ul li a:hover{
        color: #00aeef;
}
nav ul li .a-select{
    color: #00aeef;
}
.ico{
  width: 150px;
  position: relative;
  left:-20px;
  float: left;
  height: 100px;
  background: url("./../images/ico.png") no-repeat 0px;
  background-size: 100%;
}
